//注册/登录
.user{
	.contain{
		position: relative;
		min-height: 600px;
	}
	.user-wrapper{
		position: relative;
		margin: 0 auto;
		width: 1200px;
		height: 400px;
		z-index: 1;
	}
	.user-form-wrap{
		position: absolute;
		max-width: 800px;
		top: 50%;
		left: 50%;
		padding: 30px;
		transform: translate(-50%,-50%);
		background-color: rgba(255,255,255,.1);
		-webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.04);
	  -moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.04);
	  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.04);
	  border-radius: 2px;
	  h1{
	  	color: #21a9e1;
	  	font-size: 26px;
	  	margin-bottom: 30px;
	  }
	  .user-box-left{
	  	padding-right: 30px;
	  	margin-right: 30px;
	  	border-right: 1px solid #d9d9d9;
	  }
	  .user-form{
			width: 200px;
			height: 100%;
			margin: 0 auto;
			input{
				padding: 5px;
				color: #666;
				text-indent: 8px;
				background-color: 1px solid #fdfdfd;
			}
			::-webkit-input-placeholder{ 
			    color: #bbb;
			}
			.group-box{
				p{
					font-size: 12px;
					color: #d61;
				}
			}
			.form-group{
				border-bottom: 1px solid #d9d9d9;
			}
			.btn{
				display: block;
				margin: 0 auto;
				width: 40%;
				height: 30px;
				line-height: 30px;
				font-size: 14px;
				border-radius: 5px;
			}
			.iconfont{
				color: #bbb;
			}
		}
		.user-box-right{
			p{
				color: #bcbcbc;
			}
			.btn{
				margin-left: 0;
				margin-top: 10px;
				width: 100px;
				height: 30px;
				font-size: 16px;
				line-height: 30px;
				border-radius: 5px;
			}
		}
	}
}
	
.login{
	.group-box{
		margin-bottom: 20px;
	}
	.user-form-wrap .user-form .btn{
		margin-top: 30px;
	}
}
.register{
	.group-box{
		margin-bottom: 10px;
	}
	.user-form-wrap .user-form .btn{
		margin-top: 20px;
	}
}

//首页
.home{
	.home-banner{
		min-width: 1200px;
		height: 230px;
		background: url(/static/images/home-banner.png);
		background-size: cover;
		overflow: hidden;
	}
	.left-text{
		margin-left: 100px;
		width: 340px;
		color: #11bbc9;
		font-size: 14px;
		font-weight: bold;
		line-height: 28px;
	}
	.left-text p:last-child{
		font-size: 18px;
	}
	.home-wrapper{
		margin: 0 auto;
		width: 1200px;
		overflow: hidden;
		.icon-attention{
			color: #ffff00;
		}
		.max-width{
			width: 850px;
		}
		.list{
			position: relative;
			margin-top: 25px;
			.daily{
				li{
					width: 400px;
					margin:20px 20px 0 0;
					.img-box{
						padding-top: 100px;
						width: 100px;
					}
					.img-box img {
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 100px;
				    height: 100px;
				    border-radius: 8px;
				    z-index: 2;
				  }
				  .text-box{
				  	width: 240px;
				  }
				  .tag-name{
				  	margin-top: 10px;
				  }
				  .dark-color{
				  	margin-top: 5px;
				  }
				  .light-color{
				  	margin-top: 5px;
				  }
				  .last{
				  	color: #ababab;
				  	font-size: 12px;
				  }
				}
			}
			.list-bar{
				justify-content: space-between
			}
			h1{
				padding: 5px 20px 15px;
				font-size: 24px;
				color: #666;

			}
			h1:before{
				content: '';
				position: absolute;
				left: 0;
				width: 5px;
				height: 30px;
				background-color: #F09199;
			}
			.bar{
				margin-right: 8px;
				a{
					display: inline-block;
				}
			}
			.refresh-btn , .more-btn{
				font-size: 12px;
				padding: 3px 10px 3px;
				border: 1px solid #aaa;
				border-radius: 4px;
				color: #aaa;
			}
			li{
				position: relative;
				float: left;
				margin-right: 10px;
				width: 160px;
				overflow: hidden;
			}
			a{
				display: block;
			}
			.bottom{
				margin-bottom: 20px;
			}
			.title{
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 5px;
				color: #fff;
				z-index: 3;
			}
			.discuss{
				position: absolute;
				bottom: 0;
				right: 0;
				padding: 5px;
				color: #fff;
				z-index: 3;
			}
			.count{
				margin-top: 5px;
			}
			.icon-heat{
				color: red;
			}
		}
	}
	.side-right-bar{
		position: relative;
		margin-left: 20px;
		margin-top: 25px;
		width: 300px;
	}
	.tile{
		width: 100%;
		height: 100px;
		font-size: 28px;
		font-weight: bold;
		line-height: 100px;
		letter-spacing: 10px;
		text-align: center;
		color: #fff;
		background: -webkit-linear-gradient(to top, #F25D8E , #F09199);
    background: -o-linear-gradient(to top, #F25D8E , #F09199);
    background: -moz-linear-gradient(to top, #F25D8E , #F09199);
    background: linear-gradient(to top, #F25D8E , #F09199);
    border-radius: 10px;
	}
	.dynamic-more{
		position: relative;
		margin: 10px 0;
		ul{
			width: 100%;
		}
		.img-box{
			width: 34px;
			padding-top: 34px;
		}
		img{
			border-radius: 0;
		}
		.title{
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px dashed #cdcdcd;
			color: #777;
		}
		.dynamic-list{
			margin: 0 auto;
			width: 95%;
    	overflow: hidden;
    	margin-bottom: 5px;
    	padding-bottom: 5px;
    	border-bottom: 1px dashed #cdcdcd;
		}
		.dynamic-list:last-child{
			border-bottom: 0;
		}
		.header{
			width: 34px;
			height: 34px;
		}
		.text{
			margin-left: 10px;
			width: 250px;
		}
	}
	.type-box{
		position: relative;
		margin: 10px 0 40px;
		.title{
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px dashed #cdcdcd;
			color: #777;
		}
		.type-list{
			margin-bottom: 5px;
			a{
				display: inline-block;
    		width: 100%;
			}
			.type-list-btn{
				width: 55px;
				border: 1px dashed #ababab;
				text-align: center;
				border-radius: 4px;
			}
		}
	}
	.time-box{
		.time-height{
			height: 58px;
			transition: .3s linear;
			transition-property: height;
			width: 100%;
		}
		.show-time-height{
			height: 145px;
		} 
		.tag-height{
			height: 87px;
			transition: .3s linear;
			transition-property: height;
			width: 100%;
		}
		.show-tag-height{
			height: 174px;
		} 
		.type-list{
			float: left;
	    	width: 25%;
	    	margin: 0 0 10px;
    	.last{
    		color: #F17593;
    	}
			a{
				display: inline-block;
    		width: 100%;
			}
		}
	}
	.delivery{
		.title{
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px dashed #cdcdcd;
			color: #777;
		}
		ul{
			width: 100%;
		}
		li{
			margin-bottom: 5px;
			color: #fff;
			background: -webkit-linear-gradient(to top, #F25D8E , #F09199);
	    background: -o-linear-gradient(to top, #F25D8E , #F09199);
	    background: -moz-linear-gradient(to top, #F25D8E , #F09199);
	    background: linear-gradient(to top, #F25D8E , #F09199);
		}
		h3{
			float: left;
			padding: 5px 5px 0;
			width: 30px;
			font-size: 14px;
			
		}
		a{
			margin-right: 5px;
		}
		.calendar-item{
			margin-left: 40px;
			padding-top: 4px;
			background-color: #fff;
		}
		a{
			display: inline-block;
		}
		.img-box{
			width: 47px;
			padding-top: 47px;
		}
		img{
			width: 47px;
			height: 47px;
			border-radius: 0;
		}
		.count{
			font-size: 12px;
			text-align: center;
			color: #999;
			padding-bottom: 5px;
			border-bottom: 1px dashed #cdcdcd;
		}
	}
}

//详情
.animation-detail{
	.detail-bar-box{
		.detail-bar{
			width: 100%;
			height: 100%;
			overflow: hidden;
			ul{
				margin: 0 auto;
				padding: 20px;
				width: 1200px;
				height: 100%;
			}
			li{
				padding: 6px;
				height: 20px;
				font-size: 16px;
				margin-right: 28px;
				border-bottom:2px solid transparent;
				transition: all .1s linear;
			}
			li.active, li:hover{
				color: #F17593;
				border-bottom-color: #F17593;
			}
			a{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}

//个人中心
.person-center{
	background-color: #f6f9fa;
	.contain{
		position: relative;
	}
	.header{
		margin: 0 auto;
		margin-top: 20px;
		padding: 20px 20px;
    width: 960px;
    height: 100%;
    background-color: #fff;
    .header-img{
    	margin-right: 10px;
    	border-radius: 2px;
    	border: 4px solid #f17593;
    	img{
    		height: 75px;
    		width: 75px;
    	}
    }
    .header-bar{
    	p{
    		margin-left: 18px;
    		font-size: 16px;
    	}
    	li{
				display: inline-block;
				float: left;
				padding: 10px 4px;
				margin: 0px 14px;
				cursor: pointer;
				border-bottom: 2px solid #fff;
			}
			li:hover{
				-webkit-transition: all .2s ease;
		    -o-transition: all .2s ease;
		    transition: all .2s ease;
				border-bottom-color: #f17593;
			}
			li.active{
				color: #F17593;
				border-bottom-color: #f17593;
			}
    }
	}
	.content{
		margin: 0 auto;
		margin-top: 20px;
		padding: 20px;
		width: 960px;
		min-height: 500px;
		background-color: #fff;
	}
}

//添加日志页
.daily-record{
	background-color: #f6f9fa;
	padding-bottom: 20px;
	.contain{
		position: relative;
	}
	.header{
		margin: 0 auto;
		margin-top: 20px;
		padding: 20px 20px;
    width: 960px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    .small-text{
    	cursor: pointer;
    }
 		.title{
 			p{
 				text-align: center;
 			}
 			input{
 				width: 300px;
 				height: 30px;
 				padding: 2px 4px;
 				border: 1px solid  #f17593;
 				border-radius: 5px;
		    background-color: #FDFDFD;
		    text-align: center;
 			}
 		}
	}
	.msgError{
		padding: 10px 0;
		text-align: center;
		border: 1px dashed #ababab;
		font-size: 12px;
	}
	.bangumi{
		img{
			display: inline-block;
			vertical-align: middle;
		}
		.box{
			display: inline-block;
			vertical-align: middle;
			color: #999;
		}
		p{
			white-space:nowrap;
			text-overflow:ellipsis;
			overflow:hidden;
		}
		.first{
			font-size: 16px;
		}
		.last{
			font-size: 12px;
		}
	}
	.error{
		margin:10px 0 0 82px;
		font-size: 12px;
		color: #d61;
	}
	.detail-content{
		height: 100%;
		min-height: 0px !important;
	}
	.content{
		margin: 0 auto;
		margin-top: 20px;
		padding: 20px;
		width: 960px;
		min-height: 500px;
		background-color: #fff;
		.label{
			margin-bottom: 10px;
		}
		.vueditor{
			min-height: 400px;
		}
		.ve-dropdown{
			width: 70px;
			li{
				width: 60px;
				text-align: center;
			}
		}
		.btn{
			margin: 20px 0 0;
			width: 80px;
			height: 30px;
			line-height: 30px;
			letter-spacing: 2px;
			font-size: 14px;
		}
	}
	.login-wbox{
		margin: 0 auto;
		margin-top: 20px;
		padding: 10px 20px;
		width: 960px;
		height: 30px;
		line-height: 30px;
		background-color: #fff;
		p{
			cursor: pointer;
			color: #27ACD9;
			text-align: center;
		}
	}
	.discuss-box{
		margin: 0 auto;
		margin-top: 20px;
		padding: 10px 20px;
		width: 960px;

		background-color: #fff;
		.base-box{
			width: 50px;
		}
		.edit-box{
			margin-left: 20px;
			textarea{
				width: 790px;
				height: 140px;
				color: #333;
				background-color: #fcfcfc;
				border: 1px solid #27ACD9;
				border-radius: 5px;
				box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
			}
			.btn{
				margin: 0;
				width: 80px;
				height: 30px;
				line-height: 30px;
				font-size: 14px;
			}
		}
	}
	.reply-box{
		margin: 0 auto;
		margin-top: 20px;
		padding: 10px 20px;
		width: 960px;
		height: 100%;
		background-color: #fff;
		.discuss-li{
			// margin: 10px 0;
			border-bottom: 1px solid #dedede;
		}
		.sm-img{
			margin-top: 10px;
		}
		.sm-discuss{
			margin-left: 10px;
			padding-left: 10px;
			border-left: 1px solid #dedede;
		}
		.name{
			margin: 10px 0 5px 0;
		}
		.discuss-content{
			width: 900px;
			padding-bottom: 5px;
			margin-bottom: 5px;
			text-indent: 12px;
		}
		.reply{
			line-height: 20px;
			text-align: right;
			margin-right: 20px;
			i{
				vertical-align: middle;
				font-size: 18px;
				color: #999;
			}
			.time{
				display: inline-block;
				color: #333;
				margin-right: 40px;
			}
			span{
				vertical-align: middle;
				font-size: 14px;
				color: #999;
			}
			.reply-span{
				cursor: pointer;
			}
		}
		.one{
			color: #27ACD9;
			cursor: pointer;
			text-align: right;
			margin-right: 20px;
		}
		.reply-one{
			margin-bottom: 10px;
			padding: 20px 0;
			width: 900px;
			text-align: center;
			background-color:  #f5f5f5;
			textarea{
				margin-top: 10px;
				width: 800px;
				height: 40px;
				padding: 10px 5px;
				text-indent: 16px;
				color: #333;
				background-color: #fff;
				border: 1px solid #27ACD9;
				border-radius: 5px;
				box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
				vertical-align: middle;
			}
			a{
				margin-left: 10px;
				color: #27ACD9;
			}
			.reply-more{
				width: 840px;
				padding-top: 10px;
				padding-left: 40px;
				padding-right: 20px;
				margin-bottom: 5px;
				border-bottom: 1px dashed #cecece;
				.reply-time{
					margin-right: 60px;
					margin-bottom: 5px;
					text-align: right;
					cursor: pointer;
				}
				.reply-span{
					margin-left: 40px;
					margin-right: 10px;
					color: #999;
				}
				.small{
					width: 600px;
					height: 30px;
				}
				.icon-delete{
					color: #999;
					font-size: 16px;
				}
			}
			.reply-text{
				width: 800px;
				.last{
					width: 700px;
					word-wrap: break-word;
					text-align: left;
				}
			}
		}
	}
}